<footer class='eshop-footer'>
  <div class='eshop-footer-content'>
    <div class='eshop-footer-row'>
      <img role="presentation" src='images/logo-footer.svg?v=3' class='logo logo-footer' />
      <p>© Golf Odyssey</p>
    </div>
  </div>
</footer>